@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-family: 'Lato', sans-serif;
}

$gray: #ccc;
$white: #fff;
$black: #333;
$backgroundContent: #eee;

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    "nav content"
    "nav footer";
  height: 100vh;
}

nav {
  grid-area: nav;
  padding: 3rem;
  background: linear-gradient(to bottom, #ec2f4b, #009fff);
  text-align: center;

  ul.menu {
    list-style: none;

    li {
      // padding: 1rem;
      margin-top: 3rem;
      
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: $gray;
        font-size: 1.5rem;
        // When move mouse out of 'a'. bottom line will slowly transform from (white+padding-bottom 5px) to (transparent+padding-bottom 0px)
        transition: .3s;
        border-bottom: 2px solid transparent;
        
        // pseudo-class in SCSS using '&:'
        &:hover {
          color: $white;
          border-bottom: 2px solid $white;
          padding-bottom: .5rem;
        } 
      }
      
    }
  }
}


section.content {
  grid-area: content;
  padding: 5rem;
  background-color: $backgroundContent;
  color: $black;

  .content-flex {
    display: flex;
    padding: 7rem 2rem;
    justify-content: space-around;
    // align-items: center;

    .content-flex-item-left {
      width: 60%;
      padding: 2rem;
      h1 {
        font-size: 5rem;
        font-weight: 300;
        // color: $black;
      }

      p {
        margin: 2rem 0;
        font-size: 1.5rem;
        color: #a1a1a1;
        line-height: 1.5;
      }

      .hire-me {
        display: inline-block;
        padding: 1rem 2rem;
        background-color: #c47aed;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        transition: .3s;

        &:hover {
          background-color: #f64f59;
          transform: translate(-3px, -3px);
          box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);

        }
      }
      // p {
      //   padding: 2rem 0;
      //   font-size: 1.5rem;
      // }
    }

    .content-flex-item-right {
      width: 30%;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }
}
// End content section
footer {
  grid-area: footer;
}